<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374354016765-d1peqh8l1nu0sbemi2kk5on05tkvueq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374354016765-d1peqh8l1nu0sbemi2kk5on05tkvueq1</string>
	<key>API_KEY</key>
	<string>AIzaSyBUMeRA9Sozhx3hp0VC_RAwJ_9O2mmlAuA</string>
	<key>GCM_SENDER_ID</key>
	<string>374354016765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.All-of-Us</string>
	<key>PROJECT_ID</key>
	<string>all-of-us-da9ee</string>
	<key>STORAGE_BUCKET</key>
	<string>all-of-us-da9ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374354016765:ios:d7176ee5edb9d8fd11c194</string>
	<key>DATABASE_URL</key>
	<string>https://all-of-us-da9ee-default-rtdb.firebaseio.com</string>
</dict>
</plist>